@import url(http://fonts.googleapis.com/css?family=Maven+Pro:400,500,700,900|Nunito:300,400,700&v2);

li {
  list-style: none;
  font-weight: 300;
  text-shadow: 2px 5px 5px #000;
}

div.larger {
 font-size: 200%;
}

div.right h2 {
  text-align: right;
  margin-right: 3em;
}

h1,h2,h3,h4 {
  font-weight: 300;
  text-shadow: 2px 5px 5px #000;
}
h3, h4{
  text-align: center;
  font-size: 100px;
  width: 1034px;
  margin-left: -10px;
  margin-top: -10px;
  text-shadow: 2px 5px 5px #000;
  background: rgba(0, 0, 0, 0.6);
}
h4{
  color: #bbb;
}
.shadowed h1{
  background: rgba(0, 0, 0, 0.6);
  padding: 25px;
}
.marginlessimage img {
  margin-top: -10px;
  margin-bottom: -30px;
}
pre {
  width: 945px;
}

#footer {
  display: none;
}

#preso {
  background: #000;
}
.slide {
  background: #000 url("bg.jpg");
  color: #fff;
  font-family: 'Nunito', sans-serif;
}
.slide .black {
  color: #000;
}
.slide .black h1, .slide .black h2{
  text-shadow: none;
}
.slide .black h3{
  color: #fff;
}

.content {
/*  margin: 0 5em;*/
  font-weight: 300;
  margin-top: 10px !important;
  margin-left: 10px !important;
}

.rightside-bullets ul li{
  text-align: right;
  color: #000;
  text-shadow: none;
}

pre.sh_sourceCode {
  margin: 0;
  font-size: 200%;
  border: 1px solid #ccc;
}

.command {
  color: white;
  font-size: smaller;
}

img {
  margin: 0 auto;
  display: inline;
}

span.callout {
  color: #f479d8 !important;
}

.fullscreen {
  margin: 0;
}

.fullscreen img {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
}

.fullscreen h1, .fullscreen h2 {
  position: absolute;
  left: 100px;
  font-size: 5em;
  background: rgba(0,0,0,0.6);
  padding: 5px;
  -webkit-border-radius: 5px;
}
.fullscreen.bottom  h1 {
  bottom: 0px;
}
.fullscreen.top  h1 {
  top: 0px;
}
.fullscreen.bottom  h2 {
  bottom: 150px;
}
.fullscreen.bottom.larger  h2 {
  bottom: 200px;
}
.fullscreen.top  h2 {
  top: 150px;
}

span.caption {
  position: absolute;
  right: 10px;
  bottom: 10px;
  font-size: 20px;
  background: rgba(0,0,0,0.5);
  padding: 5px;
  -webkit-border-radius: 5px;
}

.left_heading {
  text-align: left;
  width: 100%;
  font-size: 60px;
  margin: 30px;
}

.right_heading {
  text-align: right;
  width: 100%;
  font-size: 60px;
  margin: 30px;
}

body .slide .align-left ul li{
  text-align: left;
}

body .slide .align-left {
  text-align: left;
  padding-left: 75px;
  padding-right: 75px;
}

body .slide .align-left h1 {
  text-align: left;
}

body .slide .align-left h2 {
  text-align: left;  
  padding-bottom: 20px;
}
body .slide .align-left h3 {
  margin-left: -90px;
}
body .slide .leftleft h3 {
  text-align: left;
}

table {
  margin-top: -40px;
}
table td {
  padding: 12px;
}
.smallcode pre {
  font-size: 15px;
}
pre.bigcode {
  margin-top: 50px;
  font-size: 400%;
}
pre.sh_ruby {
  padding-left: 50px;
  line-height: 130%;
}
s {
  text-decoration: none;
  position: relative;
}
s div {
  position: absolute;
  background: #f00;
  width: 100%;
  height: 6px;
  bottom: 60px;
}
.h2bottomright h2 {
  position: absolute;
  right: 20px;
  bottom: 20px;
  background: rgba(0, 0, 0, 0.6);
}
h3 small {
  font-size: 80%;
}
.video p {
  margin: 0;
  padding: 0;
}
.h3overlaybullet h3 {
  margin-top: 220px;
  margin-left: -80px;
  background: rgba(0, 0, 0, 0.9);
}
.moredarkness h3{
  padding-bottom: 20px;
  padding-top: 20px;
  background: rgba(0, 0, 0, 0.8);
}
.shadowh2 h2 {
  margin-left: -10px;
  padding-top: 10px;
  padding-bottom: 10px;
  background: rgba(0, 0, 0, 0.6);
}
.smaller_p p {
  margin: 0;
}
.bigh1 h1 {
  font-size: 200px;
}
.leftbanner h3{
   -moz-transform: rotate(-90deg);  /* FF3.5+ */
     -o-transform: rotate(-90deg);  /* Opera 10.5 */
-webkit-transform: rotate(-90deg);  /* Saf3.1+, Chrome */
      left: -300px;
      top: 340px;
      width: 768px;
      position: absolute;
}
.begredslash li {
  border: 10px solid #f00;
  text-shadow: none;
  color: #000;
  font-weight: bold;
  background: #f00;
     -moz-transform: rotate(45deg);  /* FF3.5+ */
       -o-transform: rotate(45deg);  /* Opera 10.5 */
  -webkit-transform: rotate(45deg);  /* Saf3.1+, Chrome */
        left: 100px;
        top: 340px;
        width: 768px;
        position: absolute;
}
.tinybr p {
  height: 1px;
  margin: 15px;
}
.tinybr br {
  height: 1px;
}